#ea-dialog {
    display: none;
}

#ea-tb-container {
    overflow-y: auto;
    height: 410px;
}

.ea-report-item {
    text-decoration: none;
    cursor: pointer;
}

#ea-button-insert {
    float: right;
    margin: 15px 0 0 0;
}

#ea-button-back {
    float: left;
    margin: 15px 0 0 0;
    height: 28px;
    line-height: 0;
}

.easyminerReportUL li {
    list-style-type: none;
    padding: 0 0 0 0;
    margin: 10px 0 0 0;
}

.easyminerReportUL input[type=checkbox] {
    -webkit-appearance: checkbox!important;
}

.easyminerReportUL input[type=checkbox]:checked:before {
    content: ""!important;
}

.easyminerReportUL ul {
    padding: 0 0 0 25px!important;
}

.ea-arrow {
    padding: 0 0 0 0.5em;
    cursor: pointer;
    width: 10px;
    height: 10px;
}

.closed {
    display: none!important;
}

.easyminer-block a.shortcode-link {
    display: inline;
    text-decoration: none!important;
    font-weight: bold;
}