#ea-dialog {
    display: none;
}

#ea-tb-container {
    overflow-y: scroll;
    height: 420px;
}

.ea-report-polozka {
    margin: 10px;
    padding: 10px;
    border-color: #0A246A;
    border: 2px;
    border-style: solid;
    border-radius: 3px;
}

#ea-button-vlozit {
    margin: 10px 10px 0 0;
    float: right;
}

.ea-vybrana {
    background-color: rgba(80, 217, 255, 0.33);
}

.ea-nevybrana {
    background-color: rgba(80, 217, 255, 0.03);
}

.cervena {
    color: red;
}

#easyminerReportUL li {
    list-style-type: none;
    padding: 0 0 0 0;
}

#easyminerReportUL ul {
    padding: 5px 0 0 25px;
}

.sipka {
    padding: 0 0 0 0.5em;
    cursor: pointer;
    width: 10px;
    height: 10px;
}

.closed {
    display: none;
}