#ea-dialog {
    display: none;
}

#ea-tb-container {
    overflow-y: scroll;
    height: 420px;
}

.ea-report-polozka {
    text-decoration: none;
}

#ea-button-vlozit {
    margin: 10px 10px 0 0;
    float: right;
}

#easyminerReportUL li {
    list-style-type: none;
    padding: 0 0 0 0;
}

#easyminerReportUL ul {
    padding: 5px 0 0 25px;
}

.sipka {
    padding: 0 0 0 0.5em;
    cursor: pointer;
    width: 10px;
    height: 10px;
}

.closed {
    display: none;
}